<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BusinessDbConnection" value="Data Source=DESKTOP-23RFQVU\FQSQLEXPRESS;Initial Catalog=FileQualityExamine;User ID=sa;pwd=sql@123;MultipleActiveResultSets=true;"/>
    <add key="DataBaseType" value="Sqlserver"/>

    <add key="PageSize" value="50"/>
    <add key="LinkContentUpdated" value="false"/>
    <!--如果有新的原文挂接完成，就告诉Timer刷新数据库-->
    <add key="ContentFileRootPath" value="e:\数字化原文"/>
    <!--原文挂接的统一目录，每个全宗只要先拷贝到此目录下，即可开始挂接-->

    <add key="YwTableForPackage" value="ajj_attch"/>
    <!--案卷卷内的原文表-->
    <add key="YwTableForBox" value="jhj_attch"/>
    <!--件盒级档案的原文表-->
   
    <add key="MakeUpWhiteSideInPaper" value="false"/>
    <!--图像处理时是否补了白边以适应A4或A3等纸张的大小-->
    <add key="SideLengthVlue" value="50"/>
    <!--取图片四个角落区域的正方形的边长（单位为像素）-->
    <add key="BinaryzationThreshold" value="0.9"/>
    <!--检查图像是否进行过扫描黑边的切边处理，二值化阈值，大小0至1.0-->
    <add key="ImageLeanDegree" value="15"/>
    <!--图像允许的最大倾斜度-->

    <add key="UseNoEndPageNumber_SplitChar" value="true"/>
    <!--使用起页号止页号间的分隔符 -->
    <add key="NoEndPageNumber_SplitChar" value="~"/>
    <!--最后一件的起页和止页间用得什么分隔符 -->
    <add key="CharMadeUpInCreatedTime" value="00"/>
    <!--如果形成时间不确定则所补的字符，默认为'00' -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
